<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Home</title>
</head>
<body>
<h1>Welcome!!!</h1>
<h2>Student 's name: <%= student.name %></h2>
<h2>Student 's age: <%= student.age %> </h2>
<h2>Class: <%= classRoom.name%> - Room: <%= classRoom.room %></h2>
<!--<a href="/student">-->
<!--    <button type="button">Student list</button>-->
<!--</a>-->

</body>
</html>